@charset "UTF-8";

.q2_table {
  width: 100%;
  table-layout: fixed;
}

.table_header th, .data th {
  font-size: 18px;
  line-height: 26px;
  color: white;
  background-color: #2244aa;
}

.data td {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.table_header th, .data td, .data th {
  border: solid 1px #dedede;
  padding: 10px 0;
}

.data tr:nth-child(2n) {
  background-color: #ecf1f2;
}

.data tr:last-child {
  border-top: dashed 2px #000;
}
/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */